* {
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
/* ==========Common============== */
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 41px;
  line-height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.btn {
  opacity: 0.9;
}
.heading-lv2 {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: normal;
}
.p__title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
}
.p__desc {
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
}
/*============Header========== */
.header {
  background: #fff;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -44px;
}
.header__top {
  padding: 52px 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  padding: 8px 19.5px;
  color: #2f3a3b;
  font-size: 1.6rem;
  line-height: normal;
}
.sign-in:hover,
.nav a:hover {
  color: #2f3a3b;
  text-shadow: 1px 0 0 currentColor;
}
.sign-in {
  margin-left: 157.5px;
  color: #494949;
  text-align: center;
}
.sign-up {
  margin-left: 24px;
  display: inline-block;
  padding: 0 16px;
  min-width: 108px;
  line-height: 46px;
  color: #1ebfc1;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #1ebfc1;
  border-radius: 6px;
}
.sign-up:hover {
  background-color: #1ebfc1;
  color: #fff;
  transition: 0.5s;
}
/*================Hero=============== */
/* Hero Left */
.hero {
  padding: 42px 0 79px;
}
.hero__body {
  display: flex;
}
.hero__content--block {
  width: 50%;
}
.top__title {
  margin-top: 93px;
  color: #767e7e;
  font-size: 1.4rem;
}
.hero__heading {
  max-width: 458px;
  margin-top: 18px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
}
.hero__desc {
  width: 374px;
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.77; /* 177.778% */
}
.hero__cta-group {
  margin-top: 52px;
  display: flex;
  align-items: center;
}
.span__desc {
  display: inline-block;
}
.play-video {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d1111;
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}
.play-video:hover {
  background-color: #eee;
  box-shadow: 0 0 0 0 rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
/* Hero Right */
.hero__media--block {
  width: 50%;
  position: relative;
}
.hero__media {
  width: 576px;
  height: 631px;
  object-fit: cover;
}
.hero__media-course {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  left: -40px;
  top: 149px;
}
.hero__media-course::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 28px;
  height: 4px;
  background-color: #fff;
  top: 45px;
  left: 29px;
  border-radius: 999px;
}
.course-detail {
  width: 55px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}
.hero__media-schedules {
  position: absolute;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  left: -65px;
  bottom: 46px;
}
.schedules__detail {
  display: inline-block;
  margin: 16px 35px 0;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}
.schedules__icon {
  margin: 16px 25px 0;
  display: block;
  width: 74px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
}
.icon2 {
  margin-top: 12px;
}
.icon3 {
  margin-top: 10px;
}
.icon4 {
  width: 26px;
  height: 6px;
  margin: 16px 49px 23px 49px;
}
/* avatar block */
.hero__media--avatar-block {
  position: absolute;
  right: 45px;
  bottom: 41px;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.avatar__detail {
  display: inline-block;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  margin: 17px 72px 0 35px;
}
.avatar__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  margin-top: 8px;
  margin-left: -7px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.avatar:first-child {
  margin-left: 0px;
}
.avatar__more {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1ebfc1;
}
.avatar__more span {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}
/* =================Feature=============== */
.feature {
  margin-top: 70px;
}
.feature__body {
  width: 1024px;
  padding: 60px 0;
}
.feature__heading {
  max-width: 577px;
  margin-top: 18px;
}

.feature__list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.feature__desc {
  max-width: 590px;
}
.feature__item--desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.69; /* 168.75% */
}
.feature__item:first-child {
  max-width: 168px;
}
.feature__item:nth-child(2) {
  max-width: 223px;
}
.feature__item:last-child {
  max-width: 224px;
}
/* ================Course================ */
.course {
  margin-top: 10px;
}
.course__body {
  padding: 60px 0;
}
.course__heading {
  margin-top: 18px;
}
.course__row-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course__row-top--view {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}
.course__desc {
  max-width: 525px;
}
.course__list {
  margin-top: 79px;
  display: flex;
  gap: 47px;
}
.course__item {
  max-width: 359px;
  position: relative;
}
.course__item--detail {
  position: absolute;
  top: 322px;
  left: 17px;
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
.course__item--wrap {
  margin: 18px 25px 0;
}

.course__image--thumb {
  width: 359px;
  height: 393px;
  border-radius: 8px;
  opacity: 0.7;
  background: #d0efed;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}
.course__image--thumb:hover {
  transform: scale(1.2);
}
.course__image--thumb .course__item--heading-lv3 {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}
.course__item--cost {
  margin-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
}
.item__cost {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}
.course__item--desc {
  margin-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
}
.course__item--static {
  margin-top: 18px;
  margin-left: -10px;
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
}
.item__static::before {
  margin: 0 10px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1ebfc1;
}
